{% extends "base.html" %}
{% block content %}
    <div style="margin-top: 80px">
        {% for blog in blogs %}
            <article class="post post-{{ blog.id }}">
                <header class="entry-header">
                    <h1 class="entry-title">
                        <a style="color: black" href="{% url 'blog' blog.id %}">{{ blog.title }}</a>
                    </h1>
                    <div class="entry-meta">
{#                        <span class="post-category">#}
{#                            <a href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}</a></span>#}
                        <span class="post-date"><a href="#"><time class="entry-date"
                                                                  datetime="{{ blog.create_time }}">{{ blog.create_time }}</time></a></span>
{#                        <span class="post-author"><a href="#">{{ post.author }}</a></span>#}
{#                        <span class="comments-link">#}
{#                            <a href="{{ post.get_absolute_url }}#comment-area">{{ post.comment_set.count }} 评论</a></span>#}
                        <span class="views-count"><a href="#">{{ blog.likes }} 喜欢</a></span>
                    </div>
                </header>
                <div class="entry-content clearfix">
{#                    <p>{{ post.excerpt }}...</p>#}
{#                    <div class="read-more cl-effect-14">#}
{#                        <a href="{% url 'blog' blog.id %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>#}
{#                    </div>#}
                </div>
            </article>

        {% empty %}
            <div class="no-post">暂时还没有发布的文章！</div>
        {% endfor %}
    </div>
{% endblock %}